.gif-list{
    display: flex;
    flex-flow: row wrap;
}

span{
    display: flex;
}


@media only screen and (max-width: 375px) {
    .gif-list{
        justify-content: center;
    }	
}

@media only screen and (max-width: 736px) {
	.gif-list{
        justify-content: center;
    }	
}

@media only screen and (max-width: 1024px) {
	.gif-list{
        justify-content: center;
    }	
}