.search-input {
	width: 70%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

.container-button {
	width: 20%;
	display: inline-block;
	padding: 20px;
	background-color: green;
	color: white;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	border: 1px solid green;
  	border-radius: 5px;
  	margin: 10px;
}

@media only screen and (max-width: 375px) {
	.search-input {
		width: 40vw;
		padding: 2vw;
	}
	.container-button {
		width: 100vw;
		padding: 2vw;
	}
}

@media only screen and (max-width: 736px) {
	.search-input {
		width: 40vw;
		padding: 2vw;
	}
	.container-button {
		width: 20vw;
		padding: 2vw;
	}
}

@media only screen and (max-width: 1024px) {
	.search-input {
		width: 40vw;
		padding: 2vw;
	}
	.container-button {
		width: 20vw;
		padding: 2vw;
	}
}