body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
}

.app-container {
	padding-top: 50px;
}

@media only screen and (max-width: 375px) {
	.search-container{
		display: flex;
		justify-content: center;
	}
}

@media only screen and (max-width: 736px) {
	.search-container{
		display: flex;
		justify-content: center;
	}
}

@media only screen and (max-width: 1024px) {
	.search-container{
		display: flex;
		justify-content: center;
	}
}